---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Profitez du matchmaking gratuit !
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Souscrivez à un plan et accédez à des services de matchmaking gratuits pour vous connecter facilement avec les bons joueurs ou équipes.
  </p>
  <div class="flex mt-5">
    <Link href="pricing" style="inverted">Souscrire Maintenant</Link>
  </div>
</div>
