---
const logos = [
  { name: "ivoireLogo", src: "/src/assets/ivoire-artisanslogo.webp" },
  { name: "DKlogo", src: "/src/assets/dkgroup-logo.png" },
  { name: "SipressLogo", src: "/src/assets/sipress_logo.jpg" }

];
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">nos partenaires</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    {logos.map((logo) => (
      <img
        src={logo.src}
        alt={logo.name}
        class="w-50 h-50 md:w-50 md:h-56 object-contain"
        title={logo.name}
      />
    ))}
  </div>
</div>
